body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  background-color: #ffffff;
}

        /*common style*/
.btn {
  padding: 15px 20px;
  border-radius: 8px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #fcff19;
  opacity: 1;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  color: #ffffff;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  position: relative;
  max-width: 1874px;
  height: 100%;
  margin: 0 auto;
  padding: 0 23px;
  text-align: center;
}

.container {
  margin: 0 auto;
}

        /*header*/
.header {
  display: block;
  padding-top: 20px;
  height: 960px;
  background: url("../img/bg-header-slide-1.jpg") no-repeat center;
}

.header__logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 275px;
  font-size: 0;
}

.main-menu {
  display: inline-block;
  vertical-align: middle;

  font-size: 0;
}

.main-menu__item {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  list-style: none;
}

.main-menu__item:not(:last-child) {
  margin-right: 10px;
}

.main-menu__item:hover .main-menu__sub-menu{
  display: block;
}

.main-menu__item:hover {
  background-color: #fcff19;
  border-radius: 7px;
}

.main-menu__item:hover .main-menu__link {
  color: #000000;
}

.main-menu__link {
  color: #ffffff;
  text-decoration: none;
}

.main-menu__list {
  padding: 0;
  margin: 0;

  font-size: 15px;
}

.main-menu__sub-menu {
  position: absolute;
  top: 23px;
  left: 0;

  display: none;

  padding: 0;
  padding-top: 10px;
  padding-left: 15px;

  background-color: #fcff19;
  border-radius: 7px;
}

.main-menu__sub-menu .main-menu__item {
  padding: 0;
}

.main-menu__sub-menu .main-menu__link {
  display: block;

  width: 100%;
  margin-right: 40px;

  text-align: left;
  white-space: nowrap;
}

.header__basket {
  display: inline-block;

  margin-left: 40px;
  vertical-align: middle;

  font-size: 0;
}

.header__link {
  display: block;

  width: 26px;
  height: 26px;

  background: url("../img/sprite-picture.png") no-repeat -5px -5px;
}

.header__title {
  margin-top: 320px;
  margin-bottom: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__text {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 28px;
}

.header__text--yellow {
  color: #fcff19;
}

.header__btn-shop {
  margin-top: 35px;
  background-color: #000000;
}

.header__btn {
  position: absolute;

  margin: 0 23px;
  width: 58px;
  height: 58px;

  font-size: 0;

  background: url("../img/sprite-picture.png") no-repeat 0 0;
  opacity: 1;
  outline: none;
  border: none;

  cursor: pointer;
}

.header__btn:hover {
  opacity: 0.8;
}

.header__btn--left {
  top: 50%;
  left: 0;
  background-position: -41px -5px;
}

.header__btn--right {
  top: 50%;
  right: 0;
  background-position: -109px -5px;
}

.header__scroll-picture {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 66px;
  height: 77px;

  font-size: 0;
  background: url("../img/sprite-picture.png") no-repeat -177px -5px;
  cursor: pointer;
}

        /*catalog*/
.catalog {
  margin: 0;
  min-height: 578px;
  padding-bottom: 50px;

  text-align: center;
  background: #eeeeee url("../img/bg-categories.jpg") no-repeat center bottom;
}

.catalog__title {
  padding-top: 70px;
  padding-bottom: 35px;
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: #000000;
}

.catalog__item {
  display: inline-block;

  margin-right: 30px;
  margin-top: 35px;
  padding-top: 135px;
  width: 347px;
  height: 153px;
  vertical-align: middle;

  text-align: center;
  font-size: 0;
}

.catalog__item:last-child {
  margin-right: 0;
}

.catalog__name {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #fcff19;
}

.catalog__text {
  margin: 0;
  margin-bottom: 25px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.catalog__btn {
  margin-top: 25px;
  padding: 10px 15px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  border: 3px solid #ffffff;
  border-radius: 8px;
}

.catalog__btn:hover {
  border: 3px solid #000000;
}

.catalog__item--one {
  background: url("../img/categories-picture-1.jpg") no-repeat 0 0;
}

.catalog__item--two {
  background: url("../img/categories-picture-2.jpg") no-repeat 0 0;
}

.catalog__item--three {
  background: url("../img/categories-picture-3.jpg") no-repeat 0 0;
}

        /*popular*/
.popular {
  padding-bottom: 35px;
}

.popular__title {
  padding: 70px 0;
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: #000000;
}

.product {
  display: inline-block;

  width: 467px;
  margin-right: 100px;
  vertical-align: middle;
}

.product:last-of-type {
  margin-right: 0;
}

.product__info {
  float: left;

  width: 200px;
  margin-right: 10px;
  margin-top: -10px;
  vertical-align: top;

  text-align: left;
  font-size: 0;
}

.product__name {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
}

.product__price {
  display: inline-block;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  color: #000000;
}

.product__form {
  float: right;

  width: 250px;
  text-align: right;

  outline: none;
}

.product__select-list {
  width: 143px;
  padding: 15px 0 13px 20px;
  vertical-align: bottom;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;

  border: 1px solid #8f8f8f;
  border-radius: 8px;
}

.product__select-list:focus {
  outline: none;
}

.product__submit {
  padding: 16px 33px;

  background-color: #000000;
  outline: none;
  border: none;
}

        /*feedback*/
.feedback {
  min-height: 555px;
  padding-bottom: 80px;

  background: #fdfdfd url("../img/bg-feedback.jpg") no-repeat center bottom;
}

.feedback__wrapper {
  display: block;

  margin: 0 auto;
  max-width: 450px;
}

.feedback__title {
  padding-top: 70px;
  padding-bottom: 50px;
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.feedback__text {
  margin: 0;
  margin-bottom: 45px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #000000;
}

.feedback__name,
.feedback__surname {
  display: inline-block;

  padding: 10px 15px;
  padding-right: 0;
  width: 195px;
  vertical-align: middle;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #808080;

  border: 1px solid #dadada;
  border-radius: 8px;
}

.feedback__form input:focus,
.feedback__textarea:focus {
  outline: none;
}

.feedback__name {
  margin-right: 20px;
}

.feedback__email {
  display: block;

  padding: 10px 15px;
  padding-right: 0;
  margin-top: 20px;
  width: 432px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #808080;

  border: 1px solid #dadada;
  border-radius: 8px;
}

.feedback__textarea {
  display: block;

  padding: 18px 15px;
  padding-right: 0;
  margin-top: 20px;
  width: 432px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #808080;

  border: 1px solid #dadada;
  border-radius: 8px;

  resize: none;
}

.feedback__submit {
  width: 450px;
  margin-top: 22px;
  padding: 15px 0;
  background-color: #b7b7b7;
  border-radius: 8px;
  border: none;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;
}

.feedback__submit:focus {
  outline: none;
}

.feedback__submit:hover {
  color: #000000;
  background-color: #dadada;
}

.feedback__submit:active {
  background-color: #919191;
}

        /*footer*/
.footer {
  display: block;
  padding: 15px 0;

  background-color: #fcff19;
}

.footer__logo {
  display: block;
  float: left;

  width: 175px;
  margin-left: 52px;
}


.menu {
  display: block;
  float: right;

  min-width: 380px;
  margin-top: 18px;
  margin-right: 52px;
}

.menu__list {
  padding: 0;
  margin: 0;
}

.menu__item {
  display: inline-block;

  margin-right: 35px;
  vertical-align: middle;

  font-size: 0;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.menu__link:hover {
  opacity: 0.7;
}
